<div class="container m-5" data-controller="home" data-home-price-value="100" ><%= content_tag :div, nil do %>
   <div class="flex flex-col justify-center items-center">
      <form class="w-full max-w-lg ">
         <div class="flex flex-wrap -mx-3 mb-">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
          Quantity
        </label>
               <div class="relative">
                  <select class="block appearance-none w-full border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded focus:outline-none focus:bg-white focus:border-gray-500" id="price-drop-down" data-action="change->home#calculatePrice" data-home-target="quantity">
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                  </select>
                  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                     <svg class="fill-current h-4 w-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                     </svg>
                  </div>
               </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Unit Price
        </label>
               <input class="appearance-none block w-full text-gray-700 bg-gray-200 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="price" type="text" value="100" readonly>
               </div>
            </div>
            <div class="text-xl font-medium text-black text-right">Total Price: 
               <span data-home-target="total" id="total-price">100</span>
            </div>
            <button class="py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75" data-action="click->home#updateCart" type="button">
              Add
            </button>
            <div class="text-xl font-medium text-black" space-y-2>Transactions</div>
            <div class="container mx-auto border-2 p-4" data-home-target="transactions"></div>
         </div><% end %>
      </div>